services:
  golden_raspberry_awards_api:
    container_name: golden_raspberry_awards_api
    image: dotnet/aspnet:8.0
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
    ports:
      - "5139:8080"
